body {
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #171723;
    line-height: 1.1;
    margin: 0px;
    height: 10000px;
}

.container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-wrapper {

    width: 100%;
    padding: 0;
    margin: 0;
    height: 150px;
    background-color: #1e1e2d;

}

.first-home,
.icon-wrap,
.menu-container {
    margin-left: 300px;
}

@media (max-width: 762px) {

    .first-home,
    .icon-wrap,
    .menu-container {
        margin-left: 10px;
    }

    .primary-icon {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 762px) {

    .profile-center,
    .partner-circle {
        display: none;
    }
}

.profile-center {
    max-width: fit-content;
    height: 50px;
    border: 0;
    border-radius: 0.475rem;
    margin-top: 35px;
    background-color: #323248;
}


.clock::before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline;
    color: #92929F;
    font-size: 16px;

}


.clock {
    position: relative;
    max-width: fit-content;
    height: 50px;
    margin-top: 50px;
    border: 2px #0BB783;
    display: block;
    padding-right: 1rem;

}

.person-name {
    display: block;
    padding-top: 15px;
    text-align: center !important;
}

/* .profile-circle {
    position: relative;
}

.profile-circle::before {
    content: "\f111";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border: 3px solid #0BB783;
    border-radius: 10px;
    color: #0BB783;
    font-size: 10px;

} */

.seprator {
    display: block;
    height: 0;
    border-bottom: 1px solid #2b2b40;
}

/* Font Awesome Icons */

.content-one,
.content-two,
.content-three,
.content-four,
.content-five {
    position: relative;
}

.content-one:before,
.content-two:before,
.content-three:before,
.content-four:before,
.content-five:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #565674;
    font-size: 13px;
    padding-right: 0.5em;
    top: 0;
    left: 0;
}

.content-one:before {
    content: "\f086";
}

.content-two:before {
    content: "\f07a";
}

.content-three:before {
    content: "\f012";
}

.content-four:before {
    content: "\f091";
}

.content-five:before {
    content: "\f509";
}

/* Navbar Content */

.nav-wrapper {
    position: relative;
    z-index: 1;
}

.nvbar {
    justify-content: left !important;
}

.navbar-dark{
    background-color: inherit !important;
}

/* nav {
} */

.nav-item {
    color: #9293a0;
    font-size: 13px;
    padding: 5px;

}

.nav-link {
    display: inline;
}

@media (max-width: 767px) {
    .nav-item {
        max-width: 65px;
    }
}



.needed-later-menu-toggle-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
}

a:hover {
    text-decoration: none;
}

/* Minimized Screen Navbar */




/* Home Wrap */
.seprator {
    display: block;
    height: 0;
    border-bottom: 1px solid #2b2b40;
    margin-bottom: 7px;
}


.home-wrap {
    position: relative;
    z-index: 2;
    background: #11111b;
}


.first-home {
    color: white;
    background: #11111b;
    font-size: 15px;
    padding: 20px;
}

.secondary-home {
    display: block;
    font-size: 12px;
    color: #6e6e7e;
}

/* Header Tables Styles */

/* 
.container{

} */

.wrap-all-content {
    position: relative;
    z-index: 3;
}

.contains-two-grades {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
}

.first-grade-tables {
    margin: 2em 0;
}

/* Media Queries */

@media (min-width: 1200px) {
    .container {
        max-width: 1220px;
    }
}

@media (max-width: 900px) {
    .first-grade-tables {
        margin: 1em 0 0 0 !important;
        flex-basis: 50%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .second-grade-right-bar {
        margin: 1em !important;
        flex-basis: 100%;
        max-width: 93%;
    }
}

@media (max-width: 767px) {

    .second-grade-regions,
    .region-icon-0,
    .latest-threads-section {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .icon-2 {
        min-width: 100%;
    }
}

.table-responsive {
    width: 100%;
}

.seprator-bc {
    background-color: #171723;
}

table,
.table {
    background: #1e1e2d;
    color: white;
    display: block;
}

/* TD Width Styles  */

.td-symb-width {
    width: 25px;
}

.costum-width-td-1 {
    min-width: 260px;
}

.costum-width-td-2 {
    min-width: 140px;
}

.ellipisis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.costum-width-auto {
    max-width: 40%;
    max-width: 290px;
}

/* Media Width & MArgin Selectors  */

@media (max-width: 767px) {
    .second-grade-regions {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .main-row {
        margin: 0px;
    }
}

@media (max-width: 767px) {
    .costum-width-td-1 {
        min-width: 180px;
    }
}

@media (max-width: 767px) {
    .symbs {
        max-width: 35px;
        max-height: 35px;
    }
}

.table {
    max-width: 100%;
    overflow-x: auto;
}

/* Elements Inside Tables */

.symbs {
    width: 48px;
    height: 48px;
}

.symbs-p {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inherit;
}

td {
    max-height: 100px !important;
}

tr {
    border-bottom: 1px dashed #2b2b40;
}

.no-border-tr {
    border: none;
}

th,
#th-1 {
    border: none !important;
}

.label-t {
    height: auto;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    color: white;
    padding-bottom: 10px;
}

.archive-text {
    color: #92929f;
    font-size: 13px;
    display: block;
}

.col-12,
th,
tr,
td {
    border-top: 0 !important;
}

.symb-container {
    display: flex;
    align-items: center;
}

.symb-width-fix {
    margin-right: 20px;
}

.symb-container img {
    margin-right: 10px;
}

.costum-width-auto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-text-4-td {
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px;
}

.petite-label {
    font-size: 14px;
    margin-bottom: 0.01px;
    padding-bottom: 5px;
}

.span-2 {
    color: #4f4d70;
    font-size: 12px;
    display: block;
}

.white-text-dy {
    color: #fff;
    font-size: 12.35px;
    font-weight: 400;
}

.flex-text-muted {
    color: #4f4d70;
    font-size: 12px;
    display: block;
}

.counts-fle {
    color: #cdcdde;
    font-weight: 600;
    font-size: 15.25px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.pos-text-muted {
    text-align: center;
    color: #4f4d70;
    font-size: 12px;
    display: block;
    text-align: center;
}

.span-3 {
    color: #4f4d70;
    font-size: 12px;
}

.span-4 {
    color: #4f4d70;
    font-size: 12px;
}

.label-trophy {
    padding-top: 1rem;
    font-size: 14px;
    margin-bottom: 0.01px;
    padding-bottom: 5px;
}

/* End Tables Styles */

/* ------------------ */

/* Styles Region-Bar */

.second-grade-right-bar {
    margin: 2em 0 0;
    padding: 0px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.region-icon-0 {
    width: 100%;
    height: 55px;
    margin-bottom: 6px;
    border-radius: 5%;
    border: 1px solid #2b2b40 !important;
}

.latest-threads-section {
    width: 100%;
    min-height: 413px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #1e1e2d;
}

.header-label {
    color: white;
    font-size: 17px;
    margin: 30px;
}

.symps-text-wrapper {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}

.symbs-topics-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.box-parent {
    position: relative;
}

.bypasser-primary {
    display: block;
}

.box-count {
    position: absolute;
    right: 20px;
    display: inline-block;
    text-align: right;
    color: #cdcdde;

    background-color: #171723;
    text-align: center;
}

.wid-box {
    width: 18px;
    background-color: #171723;
}

/* Scrollbar (Overflow) Styles  */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e2d;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: grab;
}

webkit-scrollbar {
    width: 5px;
    height: 5px;
}